@font-face {
    font-family: 'Scream';
    src: url('./Scream.TTF') format('truetype');
}

/* General Reset */
body, h1, h3, button, input, table, th, td {
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', sans-serif;
}

/* Body Styling */
body {
    background-color: #121212;
    color: #f2f2f2;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #f44336; /* Red border for the scream vibe */
    border-radius: 8px;
    box-shadow: 0px 0px 15px 5px rgba(255, 0, 0, 0.2);
}

/* Titles */
h1 {
	font-family: 'Scream', sans-serif;
	font-size: 2.5em;
    color: #FFF;
    text-align: center;
    margin-bottom: 20px;
	line-height: 100%;
}

h3 {
	font-family: 'Special Elite', sans-serif;
    font-size: 1.8em;
    color: #f2f2f2;
	margin-bottom: 10px;
}

/* Buttons */
button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

button:hover {
    background-color: #ff6666;
}

/* Inputs */
input {
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #f44336;
    border-radius: 4px;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 1.2em; /* Slightly larger for readability */
    box-sizing: border-box; /* Prevent layout issues */
	max-width: 55%;
}

/* Narrower number inputs */
input[type="number"] {
    width: 80px; /* Make number inputs narrower */
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
}

th {
    background-color: #1e1e1e;
    color: #f2f2f2;
}

td {
    background-color: #292929;
    color: #fff;
}

td:hover {
    background-color: #f44336;
    color: #000;
	cursor: none;
}

/* Grid Container */
#grid-container {
    overflow-x: auto;
    margin-top: 10px;
}

/* Add subtle animations */
button, input {
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.section {
    margin-top: 20px;
}

/* Token Row Styling */
.token-row {
    display: flex;
    align-items: center;
    gap: 8px; /* Adds space between elements */
}

.token-row button {
    display: flex;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
}

.token-row button i {
    margin: 0;
    font-size: 28px;
}
